@import '../../style.scss';

.post {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);

    border-radius: 20px;
    background-color: themed('bg');
    color: themed('textColor');

    .loading {
      color: themed('textColor');
    }

    .error {
      color: red;
    }

    .container {
      padding: 20px;

      .user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userInfo {
          display: flex;
          gap: 15px;
          align-items: center;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
          .details {
            display: flex;
            flex-direction: column;
            gap: 3px;
            .name {
              font-weight: 500;
            }

            .date {
              font-size: 12px;
            }
          }

          .emptyContainer {
            width: 100%;
          }
        }
      }

      .content {
        margin: 10px 0px;
        pre {
          margin-bottom: 10px;
          margin-left: 5px;
          color: themed('textColorSoft');
          line-height: 130%;
          white-space: pre-wrap;
          white-space: -moz-pre-wrap;
          white-space: -pre-wrap;
          white-space: -o-pre-wrap;
          word-wrap: break-word;
          word-break: keep-all;
          overflow-wrap: break-word;
        }
        img {
          width: 100%;
          max-height: 500px;
          object-fit: cover;
        }
      }

      .info {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-around;

        .item {
          display: flex;
          align-items: center;
          gap: 5px;
          cursor: pointer;
          font-size: 14px;
        }
      }
    }
  }
}
